body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslateblue: #174478;
  --vrgear-light-color-secondary: #59d48e;

  /* border radiuses */
  --br-6xl: 25px;
  --br-46xl: 65px;
  --br-49xl: 68px;
}
